@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --bg-primary: #00adb5;
  --bg-light: #eeeeee;
  --bg-dark: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Russo One", sans-serif;
  background-color: var(--bg-primary);
}

.header {
  text-align: center;
}

.header h1 {
  color: var(--bg-light);
  font-size: 100px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.game-boards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 55vh;
  margin: 3rem auto;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 400px;
  height: 400px;
}

.square {
  border: 1px solid #707070;
  background-color: rgb(136, 231, 255);
  width: 50px;
  height: 50px;
  pointer-events: auto !important;
  cursor: pointer;
}

.plain-square {
  border: 1px solid #707070;
  background-color: rgb(136, 231, 255);
  width: 50px;
  height: 50px;
  pointer-events: none !important;
  cursor: pointer;
}

.ship {
  background-color: #000;
}

.ship-hit {
  background-color: rgb(255, 77, 77) !important;
  pointer-events: none !important;
}

.ship-miss {
  background-color: #fff !important;
  pointer-events: none !important;
}

.comp {
  display: grid;
}

.comp-board,
.overlay {
  grid-area: 1 / 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.overlay {
  pointer-events: none;
}

.start {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.start-content {
  background-color: #f5f5f5;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.coord-inputs {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
}

.coord-inputs label {
  margin-right: 0.5rem;
}

.coord-input {
  margin: 0.5rem 0.2rem;
  width: 40px;
}

.btn-place {
  margin-top: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-results {
  background-color: #f5f5f5;
  margin: 30vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner-name {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 40px;
}

.btn-primary {
  background-color: var(--bg-dark);
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  font-family: "Russo One", sans-serif;
  border-radius: 20px;
  cursor: pointer;
}

.hit-miss {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.hit-miss-outcome {
  color: #fff;
  font-size: 50px;
}

@media (min-width: 1700px) {
  .game-boards {
    height: 70vh;
    width: 80%;
  }

  .game-board {
    width: 650px;
    height: 650px;
  }

  .square,
  .plain-square {
    width: 81.25px;
    height: 81.25px;
  }
}

@media (max-width: 1200px) {
  .game-boards {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .game-board {
    width: 500px;
    height: 500px;
  }

  .comp {
    margin-top: 3rem;
  }

  .square,
  .plain-square {
    width: 62.5px;
    height: 62.5px;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 60px;
  }

  .game-boards {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .game-board {
    width: 400px;
    height: 400px;
  }

  .comp {
    margin-top: 3rem;
  }

  .square,
  .plain-square {
    width: 50px;
    height: 50px;
  }

  .start-content {
    width: 400px;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .header h1 {
    font-size: 40px;
  }

  .game-boards {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .game-board {
    width: 300px;
    height: 300px;
  }

  .comp {
    margin-top: 3rem;
  }

  .square,
  .plain-square {
    width: 37.5px;
    height: 37.5px;
  }

  .modal-content-results {
    width: 300px;
  }

  .winner-name {
    font-size: 35px;
  }

  .btn-primary {
    background-color: var(--bg-dark);
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: "Russo One", sans-serif;
    border-radius: 20px;
    cursor: pointer;
  }

  .start-content {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .header h1 {
    font-size: 35px;
  }

  .game-boards {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .game-board {
    width: 280px;
    height: 280px;
  }

  .comp {
    margin-top: 3rem;
  }

  .square,
  .plain-square {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  .modal-content-results {
    width: 250px;
  }

  .winner-name {
    font-size: 30px;
  }

  .start-content {
    margin: 1rem auto;
    width: 250px;
  }
}
