@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --bg-primary: #00adb5;
  --bg-light: #eeeeee;
  --bg-dark: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Russo One", sans-serif;
  background-color: var(--bg-primary);
}

.header {
  text-align: center;
}

.header h1 {
  color: var(--bg-light);
  font-size: 100px;
  text-transform: uppercase;
}

.btn-primary {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  background-color: var(--bg-dark);
  color: var(--bg-light);
}
