@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --bg-primary: #00adb5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Russo One", sans-serif;
  background-color: var(--bg-primary);
}

.header h1 {
  width: 100%;
  border: 10px solid black;
  margin: auto;
}
